* {
  margin: 0;
  padding: 0;
}
body {
  display: inline;
}
.k {
  width: 50%;
  height: auto;
}
.r {
  width: 50%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 1%;
  z-index: -1;
  animation: rodar 2s linear infinite;
  filter: invert(70%);
}
@keyframes rodar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
