body{
    background-color: #fdf5e6;
}
h1{   
    color: #fdf5e6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;             
    text-align: center;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
p{
    font-family: 'Crimson Text', serif;
    text-align: justify;
    color: #475C54;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 7px;
}

.titulo{
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #143F75;
}
.titulo2{
    width: 50%;
    height: 10%;
    position: relative;
    margin-top: 110px;
    margin-left: 25%;
}
.txt{
    width: 50%;
    height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}